* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins', sans-serif;
}
body {
  background: #080808;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 100px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
transition: .3s;
}
nav ul li a:hover{
  color: #00abf0;
}
#logo {
  margin: 25px;
  font-size: 24px;
  color: #ededed;
}
.home-image {

  height: 500px;
}
.home-section {
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin: 100px;  
  height: 500px;
  
}
.home-section h1{
  font-size: 56px;
  line-height: 1.2;
}
.home-section h3{
  font-size: 32px;
  color: #00abf0;
}
.home-section p{
  font-size: 18px;
  margin-top: 20px;
}
.home-section .intro{
  
  margin-top: 50px;
  max-width: 500px;
}
