* {
  margin: 0;
  padding: 0;
}
body {
  background: #080808;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 100px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
#logo {
  margin: 40px;
  font-size: 24px;
  color: #f00;
}
.home-image {
  width: 600px;
}
.home-section {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin: 100px;
  
}
.intro{
  font-size: 32px;
  font-style: italic;
}
